.dart_tool/
.pub/
build/
*.g.dart
*.freezed.dart
*.mocks.dart
.android/
.ios/
release/
*.zip
.idea/
.vscode/
*.iml
.flutter-plugins
.flutter-plugins-dependencies
*.log
android/.kotlin/
android/local.properties
